/.idea
/.vscode
/hospital-energy-management-backend-demo/target
/hospital-energy-frontend/node_modules
*.class
/hospital-energy-frontend/example
/hospital-energy-frontend/src/assets
/hospital-energy-management-backend-demo/src/main/resources/static
/hospital-energy-frontend/reference view
